<% layout('layout') -%>
    <div id="block-for-slider">
        <div id="viewport">
            <ul id="slidewrapper">
              <!-- //  nkarner -->
                <li class="slide"><img src="/images/uef_images.jpg" alt="1" class="slide-img"></li>
                <li class="slide"><img src="/images/arsenal.jpg" alt="2" class="slide-img"></li>
                <li class="slide"><img src="/images/cristiano_ronaldo.jpg" alt="3" class="slide-img"></li>
                <li class="slide"><img src="/images/marco-reus-.jpg" alt="4" class="slide-img"></li>
            </ul>

            <div id="prev-next-btns">
                <div id="prev-btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                <div id="next-btn"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
            </div>

        </div>
    </div>
    <div class="content">
        <div class="footbaler_names">
          <h2>Messi</h2>
          <img src="/images/f1.jpg" alt="">
          <span>
              born 24 June 1987 is an Argentine professional
              footballer who plays as a forward for Spanish club Barcelona and the ...
          </span>
          <a href="#">Learn more ...</a>
        </div>

      <div class="footbaler_names">
            <h2>Ronaldo</h2>
            <img src="/images/f2.jpg" alt="">
            <span>
                born 5 February 1985 is a Portuguese professional footballer who
                plays as a forward for Spanish club Real Madrid and the ...
            </span>
            <a href="#">Learn more ...</a>
      </div>


      <div class="footbaler_names">
            <h2>Mkhitaryan</h2>
            <img src="/images/f3.jpg" alt="">
            <span>
                born 21 January 1989 is an Armenian professional footballer who
                plays as a midfielder for English club Manchester United, as ...
            </span>
            <a href="#">Learn more ...</a>
      </div>


        <div class="footbaler_names">
              <h2>Rooney</h2>
              <img src="/images/f4.jpg" alt="">
              <span>
                   born 24 October 1985 is an English professional footballer who
                  plays for Premier League club Everton. He has played ...
              </span>
              <a href="#">Learn more ...</a>
        </div>
    </div>

<div class="video_football">
    <h2>Most watched videos </h2>

    <div class="videos">
        <div class="fottball_videos">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/m0HLa5Oj3rw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="fottball_videos">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pV40PKVGUmk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="fottball_videos">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gvh2GacsGbg" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="fottball_videos">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pXyJpiXVl7g" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>
