<% layout('layout') -%>

<h1>News Page</h1>
<div class="news">
  <div class="in_news">
    <div>
      <img src="/images/uef_images.jpg" alt="uefa">
    </div>

    <div>
      <h3>Manchester City</h3>
      <h5>Pep: No words to describe Aguero</h5>
      <p>Pep Guardiola insisted Sergio Aguero's
        hat-trick to beat Newcastle 3-1 vindicated
         his decision to abandon plans to sign
         Alexis Sanchez.</p>
    </div>
  </div>
<br>
  <div class="in_news">
    <div>
      <img src="/images/uef_images.jpg" alt="uefa">
    </div>

    <div>
      <h3>Transfer headlines</h3>
      <h5>Mkhitaryan to have Arsenal medical</h5>
      <p>Henrikh Mkhitaryan will undergo a medical at
        Arsenal in the next 48 hours, according to
        Sky sources.</p>
    </div>
  </div>
<br>
  <div class="in_news">
    <div>
      <img src="/images/uef_images.jpg" alt="uefa">
    </div>

    <div>
      <h3>Barcelona</h3>
      <h5>Coutinho debut 'possible' next week</h5>
      <p>Philippe Coutinho could make his Barcelona
        debut against Espanyol in next week's Copa
         del Rey second leg at the Nou Camp.</p>
    </div>
  </div>
<br>
  <div class="in_news">
    <div>
      <img src="/images/uef_images.jpg" alt="uefa">
    </div>

    <div>
      <h3>Real Madrid</h3>
      <h5>Zidane: I won't quit Real</h5>
      <p>Zinedine Zidane says he will never
        quit as Real Madrid's head coach,
         despite the team's underwhelming
          season.</p>
    </div>
  </div>
  <br>
  <div class="in_news">
    <div>
      <img src="/images/uef_images.jpg" alt="uefa">
    </div>

    <div>
      <h3>Arsenal</h3>
      <h5>Wenger's 'relief' for Lacazette</h5>
      <p>Arsene Wenger admitted a feeling of "relief" for
        Alexandre Lacazette after he ended his scoring
        drought against Crystal Palace.</p>
    </div>
  </div>
</div>
